.create h2{
    text-align: center;
    margin-bottom: .5rem;
}

.create  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40%;
    margin: auto;
    margin-top: 1rem;
}